@charset "utf-8";

body{
    background-color: #ffb9b9;
    background : url('stuppy.png'); 
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size: 30%;
    margin-top:0;
    padding-top: 0;}

h1{
    text-align:center;
    background-color: #ff0000;
    color:#fff;
    margin:0 ;
    padding: 0;
    margin-left: -5px;
    margin-right: -5px;
    
}

h2{
    text-align : right;
}

button.res{
    width : 120px;
    height: 50px;
    margin : 20px;
    font-size: 12pt;
    border-radius: 10px;
    border-style: none;
    background-color: #ffc9c9;   
}

button:hover{
    background-color: #faa;
}

.resdiv{
    text-align : center;
}

#calendar{
    width:95%;
}

.fc-daygrid-day-frame {
  min-height: 30px;   /* セルの最小高さ */
  height: 30px;       /* 固定高さにしたい場合 */
}

/* スマホ用 (幅600px以下) */
@media (max-width: 600px) {
  .fc-daygrid-day-frame {
    height: 25px;   /* スマホではさらに小さく */
    overflow: hidden; /* イベントが多い場合はスクロールさせない */
  }
}
