@charset "utf-8";

body{
    background-color: #ffb9b9;
    background : url('stuppy.png'); 
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size: 30%;
    margin-top:0;
    padding-top: 0;}

h1{
    text-align:center;
    background-color: #ff0000;
    color:#fff;
    margin:0 ;
    padding: 0;
    margin-left: -5px;
    margin-right: -5px;
    
}

h2#schoolname{
    padding-top:0;
    margin-top:0;
    text-align : right;
}

button.res{
    width : 120px;
    height: 50px;
    margin : 20px;
    font-size: 12pt;
    border-radius: 10px;
    border-style: none;
    background-color: #ffc9c9;   
}

button:hover{
    background-color: #faa;
}

.resdiv{
    text-align : center;
}

#calendar{
    width:95%;
}

.fc-daygrid-day-frame {
  min-height: 55px;   /* セルの最小高さ */
  height: 55px;       /* 固定高さにしたい場合 */
}

.fc-event-title {
    margin-top:0px;
    padding-top:0px;
    font-size: 10px;   /* 好きなサイズに変更 */
}


/* スマホ用 (幅600px以下) */
@media (max-width: 600px) {
  .fc-daygrid-day-frame {
    height: 55px;   /* スマホではさらに小さく */
    overflow: hidden; /* イベントが多い場合はスクロールさせない */
  }



}

/* イベントの高さを固定する */
.fc-daygrid-event {
    margin-top: -4px!important;   /* 上方向にずらす */
    line-height: 1.2em;   /* 行の高さを抑える */
    font-size: 12px;      /* 文字サイズを小さくする */
    padding: 2px 4px;     /* 内側余白を減らす */
    white-space: nowrap;  /* 折り返しを防ぐ */
    overflow: hidden;     /* はみ出しを隠す */
    text-overflow: ellipsis; /* 長い文字は「…」に */
    padding:0;
}

.fc-daygrid-day-top {
  margin-bottom: 0px !important;  /* 数字の下の余白を最小化 */
}


/* bootstrapを読み込んだ時のスタイルを解除 */
.fc-daygrid-day-number,
.fc-col-header-cell a {
  text-decoration: none !important ;  /* 日付や曜日のリンク下線を消す */
}


.fc a,
.fc a:hover,
.fc a:focus,
.fc a:visited {
  text-decoration: none !important;
  color: inherit !important;
}




/* これ以降は効いているかわからない */
.fc a,
.fc a:hover,
.fc a:focus,
.fc a:visited,
.fc a:active {
  text-decoration: none !important;
  color: inherit !important;
}


#calendar .fc a {
  text-decoration: none !important;
  color: inherit !important;
}

#calendar .fc a {
  text-decoration: none !important;
  color: inherit !important;
}

.fc-daygrid-day-number {
  text-decoration: none !important;
  color: inherit !important;
}

.fc-daygrid-day-number,
.fc-daygrid-day-number:hover,
.fc-daygrid-day-number:focus,
.fc-daygrid-day-number:active,
.fc-daygrid-day-number:visited {
  text-decoration: none !important;
  color: inherit !important;
}

.fc-daygrid-day-number {
  text-decoration: none !important;
}

.fc a.fc-daygrid-day-number {
  text-decoration: none !important;
}

/* reboot.scss の a { text-decoration: underline; } を潰す */
.fc a.fc-daygrid-day-number,
.fc a.fc-daygrid-day-number:focus,
.fc a.fc-daygrid-day-number:active {
  text-decoration: none !important;
  color: inherit !important;
}


.fc-daygrid-day-number {
  text-decoration: none !important;
  color: inherit !important;
  -webkit-text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
}

.form-check{
  margin-left : 15px;
}

.memberSet{
  margin-left : 50px;
  margin-right : 50px;
  width : 80%;
}